.lead__caption {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 4px 0 92px;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    margin: 4px 0 84px 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin: 4px 0 64px 16px;
  }
}
